.elementor-186
  .elementor-element.elementor-element-86bc1c9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-186
  .elementor-element.elementor-element-86bc1c9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/footer-bg-1-1.png");
  background-position: top center;
  background-size: cover;
}
.elementor-186
  .elementor-element.elementor-element-86bc1c9
  > .elementor-background-overlay {
  background-color: #ffffff;
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-186 .elementor-element.elementor-element-86bc1c9 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #efefef;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 6% 4% 6% 4%;
}
.elementor-186 .elementor-element.elementor-element-86bc1c9,
.elementor-186
  .elementor-element.elementor-element-86bc1c9
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-186
  .elementor-element.elementor-element-164c1e8
  > .elementor-element-populated {
  padding: 20px 20px 20px 0px;
}
.elementor-186 .elementor-element.elementor-element-349a901 {
  text-align: left;
}
.elementor-186 .elementor-element.elementor-element-349a901 img {
  width: 80%;
}
.elementor-186 .elementor-element.elementor-element-e22e157 {
  color: #a5a3a9;
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-186
  .elementor-element.elementor-element-e22e157
  > .elementor-widget-container {
  padding: 20px 0px 0px 0px;
}
.elementor-186
  .elementor-element.elementor-element-22e4e11
  > .elementor-element-populated {
  padding: 40px 0px 40px 40px;
}
.elementor-186
  .elementor-element.elementor-element-53cd501
  .elementor-heading-title {
  color: #082740;
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.elementor-186
  .elementor-element.elementor-element-aa1a0ca
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-186
  .elementor-element.elementor-element-aa1a0ca
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-186 .elementor-element.elementor-element-aa1a0ca {
  --e-icon-list-icon-size: 10px;
  width: auto;
  max-width: auto;
}
.elementor-186
  .elementor-element.elementor-element-aa1a0ca
  .elementor-icon-list-text {
  color: #353839;
  padding-left: 0px;
  font-weight: 600;
}
.elementor-186
  .elementor-element.elementor-element-aa1a0ca
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}
.elementor-186
  .elementor-element.elementor-element-aa1a0ca
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-186
  .elementor-element.elementor-element-aa1a0ca
  .elementor-icon-list-item
  > a {
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-186
  .elementor-element.elementor-element-aa1a0ca
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-186
  .elementor-element.elementor-element-8ce07cb
  > .elementor-element-populated {
  padding: 40px 40px 40px 40px;
}
.elementor-186
  .elementor-element.elementor-element-4588aeb
  .elementor-heading-title {
  color: #082740;
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.elementor-186
  .elementor-element.elementor-element-b8612e7
  .elementor-nav-menu
  .elementor-item {
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-186
  .elementor-element.elementor-element-b8612e7
  .elementor-nav-menu--main
  .elementor-item {
  color: #353839;
  fill: #a5a3a9;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}
.elementor-186
  .elementor-element.elementor-element-b8612e7
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-186
  .elementor-element.elementor-element-b8612e7
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-186
  .elementor-element.elementor-element-b8612e7
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-186
  .elementor-element.elementor-element-b8612e7
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-primary);
  fill: var(--e-global-color-primary);
}
.elementor-186
  .elementor-element.elementor-element-b8612e7
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-primary);
}
.elementor-186
  .elementor-element.elementor-element-b8612e7
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-186
  .elementor-element.elementor-element-9d18860
  > .elementor-element-populated {
  padding: 40px 40px 40px 40px;
}
.elementor-186
  .elementor-element.elementor-element-d31c77e
  .elementor-heading-title {
  color: #082740;
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(8px / 2);
}
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(8px / 2);
}
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(8px / 2);
  margin-left: calc(8px / 2);
}
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-8px / 2);
  margin-left: calc(-8px / 2);
}
body.rtl
  .elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-8px / 2);
}
body:not(.rtl)
  .elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-8px / 2);
}
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-186 .elementor-element.elementor-element-0401024 {
  --e-icon-list-icon-size: 10px;
}
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-text {
  color: #a5a3a9;
  padding-left: 0px;
}
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-186
  .elementor-element.elementor-element-0401024
  .elementor-icon-list-item
  > a {
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #353839;
  font-weight: 600;
}
.elementor-186
  .elementor-element.elementor-element-0401024
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-186
  .elementor-element.elementor-element-2d30c53
  > .elementor-element-populated {
  padding: 40px 0px 40px 50px;
}
.elementor-186
  .elementor-element.elementor-element-9b86f58
  .elementor-heading-title {
  color: #082740;
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.elementor-186
  .elementor-element.elementor-element-43c5bf7
  .elementor-heading-title {
  color: #082740;
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-field-type-html {
  padding-bottom: 0px;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-field-group
  .elementor-field,
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-field-subgroup
  label {
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #efefef;
  border-width: 0px 0px 0px 0px;
  border-radius: 25px 25px 25px 25px;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #efefef;
  border-width: 0px 0px 0px 0px;
  border-radius: 25px 25px 25px 25px;
}
.elementor-186 .elementor-element.elementor-element-f23e68c .elementor-button {
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px 25px 25px 25px;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .e-form__buttons__wrapper__button-next {
  background-color: var(--e-global-color-primary);
  color: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-button[type="submit"] {
  background-color: var(--e-global-color-primary);
  color: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-button[type="submit"]
  svg
  * {
  fill: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .e-form__buttons__wrapper__button-next:hover {
  background-color: var(--e-global-color-4d43208);
  color: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-button[type="submit"]:hover {
  background-color: var(--e-global-color-4d43208);
  color: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-f23e68c
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-186 .elementor-element.elementor-element-f23e68c {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-186
  .elementor-element.elementor-element-9020af5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-186
  .elementor-element.elementor-element-9020af5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}
.elementor-186 .elementor-element.elementor-element-9020af5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 2% 4% 2% 4%;
}
.elementor-186
  .elementor-element.elementor-element-9020af5
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-186
  .elementor-element.elementor-element-226fe66.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-186
  .elementor-element.elementor-element-226fe66.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-186
  .elementor-element.elementor-element-adfbf58
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.elementor-186 .elementor-element.elementor-element-c71becc {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 18px;
  --grid-column-gap: 10px;
  --grid-row-gap: 0px;
}
.elementor-186
  .elementor-element.elementor-element-c71becc
  .elementor-widget-container {
  text-align: center;
}
.elementor-186
  .elementor-element.elementor-element-c71becc
  .elementor-social-icon {
  background-color: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-c71becc
  .elementor-social-icon
  i {
    color: #000;
    margin-top: -15px;
}
.elementor-186
  .elementor-element.elementor-element-c71becc
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-186
  .elementor-element.elementor-element-c71becc
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-primary);
}
.elementor-186
  .elementor-element.elementor-element-c71becc
  .elementor-social-icon:hover
  i {
  color: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-c71becc
  .elementor-social-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-bc-flex-widget
  .elementor-186
  .elementor-element.elementor-element-ec0c235.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-186
  .elementor-element.elementor-element-ec0c235.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-186 .elementor-element.elementor-element-48fcc5c {
  text-align: right;
}
.elementor-186
  .elementor-element.elementor-element-48fcc5c
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .elementor-186
    .elementor-element.elementor-element-22e4e11
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-186
    .elementor-element.elementor-element-8ce07cb
    > .elementor-element-populated {
    padding: 40px 0px 0px 0px;
  }
  .elementor-186
    .elementor-element.elementor-element-9d18860
    > .elementor-element-populated {
    padding: 40px 0px 0px 0px;
  }
  .elementor-186
    .elementor-element.elementor-element-2d30c53
    > .elementor-element-populated {
    padding: 40px 0px 0px 0px;
  }
  .elementor-186 .elementor-element.elementor-element-adfbf58 {
    text-align: center;
  }
  .elementor-186
    .elementor-element.elementor-element-c71becc
    .elementor-widget-container {
    text-align: center;
  }
  .elementor-186 .elementor-element.elementor-element-48fcc5c {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .elementor-186 .elementor-element.elementor-element-164c1e8 {
    width: 20%;
  }
  .elementor-186 .elementor-element.elementor-element-22e4e11 {
    width: 20%;
  }
  .elementor-186 .elementor-element.elementor-element-8ce07cb {
    width: 15%;
  }
  .elementor-186 .elementor-element.elementor-element-9d18860 {
    width: 19%;
  }
  .elementor-186 .elementor-element.elementor-element-2d30c53 {
    width: 26%;
  }
  .elementor-186 .elementor-element.elementor-element-226fe66 {
    width: 40%;
  }
  .elementor-186 .elementor-element.elementor-element-636f968 {
    width: 20%;
  }
  .elementor-186 .elementor-element.elementor-element-ec0c235 {
    width: 39.666%;
  }
}
